In [1]:
import os
import time

import numpy as np 
import pandas as pd 
from statistics import mean 
from collections import Counter
import pickle
from sklearn.preprocessing import StandardScaler 
from sklearn.datasets import fetch_openml
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC

from sklearn.model_selection import train_test_split 
from statistics import stdev

In [2]:
def download():
        
    PATH = r'C:\Users\arman\Desktop\ActiveLearning\Experiment\dgt_agri'
    data_path = os.path.join(PATH, 'Agri_data')
    
    train = pd.read_csv(os.path.join(data_path,'training.csv'))
    test = pd.read_csv(os.path.join(data_path,'testing.csv'))
    
    dataset_size = train.groupby('CLASS').size()
    print('sample size:', train.shape[0], '\n'+'features:', train.shape[1])
    print('train dataset class_size: ', dataset_size)
    #print('dataset skewness', train.iloc[:, 2:].skew)
    
    return (train, test)

In [58]:
#train, test = download()
train_size = train.groupby('CLASS').size()
test_size = test.groupby('CLASS').size()

df = pd.concat((train_size,test_size), axis = 1)
df = df.reset_index()
df.columns = ['Class ID', 'Train size', 'Test size']
#pd.DataFrame.to_csv(df,'class_size.csv')
df

    Class ID  Train size  Test size
0        1.0        4000       1000
1        2.0        4000       1000
2        3.0        4000       1000
3        4.0        3408       1136
4        5.0        4000       1000
5        6.0         194         65
6        7.0        4000       1000
7        8.0        4000       1000
8        9.0        4000       1000
9       10.0        4000        856
10      11.0        4000       1000
11      12.0        4000       1000
12      13.0        4000       1000
13      14.0        4000       1000
14      15.0        4000       1000
15      16.0        4000       1000
16      17.0         278         93
17      18.0        4000       1000
18      19.0        4000       1000
19      20.0        4000       1000
20      21.0        4000       1000
21      22.0        4000       1000
22      23.0        4000       1000
23      24.0        4000       1000
24      25.0        4000       1000
25      26.0        4000       1000
26      27.0        4000       1000
27      28.0        4000       1000
28      29.0        4000       1000
29      30.0        4000       1000
30      31.0        4000       1000